.App {
  text-align: center;
}

.home-logo {
  max-width:  100%;
  height: auto;
  margin-bottom: 0 auto;
  display: block;
  border-radius: 8px;
  border: none;
}
.Home-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: auto;
}
.Home-Container span {
  margin-top: 20px;
  font-size: 18px;
  color: #db1111;
}
.homeButton {
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  background-color: #0775ea;
  color: white;
  border: none;
  border-radius: 10px;
  width: 150px;
  margin: 15px;
}